


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(78, 78, 78);
    background-image: url(../images/background_image_for_websit_night_time_old_tree_auto_x2.jpg);
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    padding: none;
    background-color: var(--color-2);
}


/*-----------main------------*/

main{
    background-color: var(--color-2);
    padding: 3%;
    flex: 1;
}

section{
    display: flex;
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-1);
    color: var(--color-text);
}

.info-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.info-text a{
    color: var(--color-text);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    color: var(--color-text);
    height: 60px;
    
}


@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
