

body{
    background-color: rgb(78, 78, 78);
    background-image: url(../images/background_image_for_websit_x2.jpg);
    background-position: bottom;
    background-size: cover;
}

/*---------------header content-------------------*/

header{
    position: sticky;
    top: 0;
    padding: none;
    background-color: rgba(0, 0, 0, 0.267);
}

.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.img-logo{
    width: 60px;
    height: auto; 
}

.img-theme{
    width: 30px;
    height: auto;
}

nav{
    display: flex;
    padding: 7px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    color: var(--color-text);
    cursor: pointer;
    transition: transform 500ms;
}

nav ul li a{
    text-decoration: none;
    background-color: #00000000;
    color: var(--color-text);
    font-size: 1.4em;
}

.btn-nav-theme{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 60px; 
    background-color: rgba(0, 0, 0, 0.527);
    cursor: pointer;
    
}

nav ul li:hover{
    transform: translatey(0.2rem);
    text-decoration: underline;
}

.btn-nav-theme:hover{
    background-color: var(--color-hover);
    transform: rotate(30deg);
    animation: rotateAnimation 0.3s linear;
}

/*---------------main---------------*/

main{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 3%;
    height: fit-content;
}

/*---grid-1---*/
.grid-container-1{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 50px 80px;
    grid-template-columns: auto auto auto auto;
    color: var(--color-text);
}

.grid-1-item-1{
    background-color: var(--color-bg-2);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 20px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 1;
}

.grid-1-item-1 h1{
    font-size: 3em;
}

.grid-1-item-2{
    background-image: url(../images/pyramids-small.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 2;
    transition: transform 1s;
}
/*
.grid-1-item-2::before{
    background-color: var(--color-bg-2);
}*/

.grid-1-item-3{
    background-image: url(../images/planets-small.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 20px;
    border-radius: 20px;
    grid-column: 3/4;
    grid-row: 1/4;
    transition: transform 1s;
}

.grid-1-item-4{
    display: inline-block;
    background-image: url(../images/uzbekistan.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: right;
    padding: 20px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 3;
    transition: transform 1s;
}

/*---grid-2---*/
.grid-container-2{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 50px 80px;
    grid-template-columns: auto auto;
    color: var(--color-text);
}

.grid-2-item-1{
    background-color: var(--color-bg);
    color: var(--color-text);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 20px;
    border-radius: 20px;
    height: 50px;
    overflow: visible;
    grid-row: 1;
}

.grid-2-item-2{
    background-color: var(--color-bg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 20px;
    border-radius: 20px;
    grid-row: 2;
    transition: transform 1s;
}

#grid-1-item:hover{
    transform: translatey(0.2rem);
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: var(--color-text);
    height: 60px;

}


@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
