

body{
    background-color: rgb(78, 78, 78);
    background-image: url(../images/background_image_for_websit_x2.jpg);
    background-position: bottom;
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    padding: none;
    background-color: var(--color-3);
}

/*-----------main--------------*/

main{
    background-color: var(--color-3);
    padding: 3%;
    height: fit-content;
}

/*---grid-1---*/
.grid-container-1{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 30px 60px;
    grid-template-columns: repeat(auto-fit, 1fr);
    color: var(--color-text);
}

.text-background{
    background-color: var(--color-text-box);
    padding: 15px;
    border-radius: 15px;
}

.grid-1-item-1{
    background-color: var(--color-2);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 1;
}

.grid-1-item-1 h1{
    font-size: 3em;
}

.grid-1-item-2{
    background-image: url(../images/Temple_of_Artemis.png);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 2;
    transition: transform 1s;
}

.grid-1-item-3{
    background-image: url(../images/planet__earth.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    grid-column: 3/4;
    grid-row: 1/3;
    transition: transform 1s;
}

.grid-1-item-4{
    background-image: url(../images/book_on_table_auto_x2.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 3;
    transition: transform 1s;
}

.grid-1-item-5{
    background-color: var(--color-1);
    color: var(--color-text);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    grid-column: 3/4;
    grid-row: 3/4;
}

/*---grid-2---*/
.grid-container-2{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 50px 80px;
    grid-template-columns: repeat(auto-fit, 1fr);
    color: var(--color-text);
}

.grid-2-item-1{
    background-color: var(--color-1);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    grid-row: 2;
    transition: transform 1s;
}

#grid-1-item:hover{
    transform: translatey(0.2rem);
    cursor: pointer;
}



/*---Media queries for responsiveness---*/
/*
@media (max-width: 700px) {
    .grid-container-1 {
        grid-template-columns: repeat(4, 1fr); 
    }
    
}*/



@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
