

body{
    background-color: rgb(78, 78, 78);
    background-image: url(../images/background_image_for_websit_x2.jpg);
    background-position: bottom;
    background-size: cover;
}

header{
    position: sticky;
    top: 0;
    padding: none;
    background-color: var(--color-3);
}

/*-----------main--------------*/

main{
    background-color: var(--color-3);
    padding: 3%;
    height: fit-content;
}

/*---grid-1---*/
.grid-container-1{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 30px 60px;
    grid-template-columns: auto auto auto auto;
    color: var(--color-text);
}

.text-background{
    background-color: var(--color-text-box);
    padding: 15px;
    border-radius: 15px;
}

.grid-1-item-1{
    background-color: var(--color-2);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 1;
}

.grid-1-item-1 h1{
    font-size: 3em;
}

.grid-1-item-2{
    background-image: url(../images/Temple_of_Artemis.png);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 2;
    transition: transform 1s;
}

.grid-1-item-3{
    background-image: url(../images/planet__earth.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    max-height: 430px; 
    padding: 30px;
    border-radius: 20px;
    grid-column: 3/4;
    grid-row: 1/3;
    transition: transform 1s;
}

.grid-1-item-4{
    background-image: url(../images/book_on_table_auto_x2.jpg);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    grid-column: 1/3;
    grid-row: 3;
    transition: transform 1s;
}

.grid-1-item-5{
    background-color: var(--color-1);
    color: var(--color-text);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    height: 110px;
    overflow: hidden;
    grid-column: 3/4;
    grid-row: 3/4;
}

/*---grid-2---*/
.grid-container-2{
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    gap: 50px 80px;
    grid-template-columns: auto auto;
    color: var(--color-text);
}

.grid-2-item-1{
    background-color: var(--color-1);
    box-shadow: -7px -7px 30px rgba(0, 0, 0, 0.562);
    padding: 30px;
    border-radius: 20px;
    grid-row: 2;
    transition: transform 1s;
}

#grid-1-item:hover{
    transform: translatey(0.2rem);
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }


@keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(30deg);
    }
  }
