
*{
    margin: 0;
    padding: 0;
    font-family: 'Asar', serif;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Roboto Mono', monospace;
}

:root{
    --color-bg: #0C0C0C;
    --color-bg-2: #0c0c0cc4;
    --color-bg-3: #010418;
    --color-text: #c4c4c4;
    --color-hover: rgba(0, 0, 0, 0.486);
}

.dark-theme{
    --color-bg: #DCCCA3;
    --color-bg-2: #F5E0B7;
    --color-bg-3: #DCCCA3;
    --color-text: #050508; 
    --color-hover: #969379;
}
